#Practica preparacion

Se estan realizndo proceso de limpieza de datos

In [1]:
#Importamos las librerías necesarias
import pandas as pd
import seaborn as sbn
import numpy as np
import matplotlib.pyplot as plt
from seaborn import load_dataset
import io

In [2]:
from google.colab import files

uploaded = files.upload()
Isalary = pd.read_csv(io.BytesIO(uploaded['SalaryData.csv']))

Saving SalaryData.csv to SalaryData.csv

In [3]:
Isalary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    float64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB

In [4]:
na_values =('na.nan','NA','NaN','nan','inf')
Isalary = Isalary.replace(na_values,np.nan)

In [5]:
Isalary.isna().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [6]:
Isalary.describe()

              Age  Years of Experience         Salary
count  373.000000           373.000000     373.000000
mean    37.431635            10.030831  100577.345845
std      7.069073             6.557007   48240.013482
min     23.000000             0.000000     350.000000
25%     31.000000             4.000000   55000.000000
50%     36.000000             9.000000   95000.000000
75%     44.000000            15.000000  140000.000000
max     53.000000            25.000000  250000.000000

In [9]:
Isalary.head(10)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
5,29.0,Male,Bachelor's,Marketing Analyst,2.0,55000.0
6,42.0,Female,Master's,Product Manager,12.0,120000.0
7,31.0,Male,Bachelor's,Sales Manager,4.0,80000.0
8,26.0,Female,Bachelor's,Marketing Coordinator,1.0,45000.0
9,38.0,Male,PhD,Senior Scientist,10.0,110000.0

Identificar valores en la columna 'education level'

In [10]:
valores_unicos = Isalary['Education Level'].unique()  # Obtiene los valores únicos en la columna especificada
print(valores_unicos)

["Bachelor's" "Master's" 'PhD' nan]

Se quitaran los valores nan utilizando la moda y la media para evitar que los datos se corrompan

In [ ]:
#Age
moda_age = Isalary['Age'].mode()[0]
Isalary['Age'].fillna(moda_age, inplace=True)
print(Isalary)

In [ ]:
#Gender
moda_genero = Isalary['Gender'].mode()[0]
Isalary['Gender'].fillna(moda_genero, inplace=True)
print(Isalary)

In [ ]:
#Education level
moda_elevel = Isalary['Education Level'].mode()[0]
Isalary['Education Level'].fillna(moda_elevel, inplace=True)
print(Isalary)

In [ ]:
#job title
moda_jtitle = Isalary['Job Title'].mode()[0]
Isalary['Job Title'].fillna(moda_jtitle, inplace=True)
print(Isalary)

In [ ]:
#Years Experience
moda_yexp = Isalary['Years of Experience'].mode()[0]
Isalary['Years of Experience'].fillna(moda_yexp, inplace=True)
print(Isalary)

In [ ]:
#salary
media_salary = Isalary['Salary'].mean()
Isalary['Salary'].fillna(media_salary, inplace=True)
print(Isalary)

Se detectaron 3 tipos de datos de tipo object, los cuales no permiten realizar los modelos esperados por lo cual se relizara trasformacion del tipo de dato y si es el caso exclusion del dato.

Se realiza one hot encoding para los datos de 'gender'

In [22]:
df1 = Isalary

one_hot = pd.get_dummies(df1['Gender'])
df = pd.concat([df1, one_hot], axis=1)
df4 = df.drop('Gender', axis=1)
print(df4)

      Age Education Level                      Job Title  Years of Experience  \
0    32.0      Bachelor's              Software Engineer                  5.0
1    28.0        Master's                   Data Analyst                  3.0
2    45.0             PhD                 Senior Manager                 15.0
3    36.0      Bachelor's                Sales Associate                  7.0
4    52.0        Master's                       Director                 20.0
..    ...             ...                            ...                  ...
370  35.0      Bachelor's       Senior Marketing Analyst                  8.0
371  43.0        Master's         Director of Operations                 19.0
372  29.0      Bachelor's         Junior Project Manager                  2.0
373  34.0      Bachelor's  Senior Operations Coordinator                  7.0
374  44.0             PhD        Senior Business Analyst                 15.0

       Salary  Female  Male
0     90000.0       0     1
1     65000.0       1     0
2    150000.0       0     1
3     60000.0       1     0
4    200000.0       0     1
..        ...     ...   ...
370   85000.0       1     0
371  170000.0       0     1
372   40000.0       1     0
373   90000.0       0     1
374  150000.0       1     0

[375 rows x 7 columns]

Para 'Education level' se utlizara level encoding debido a que los datos de nivel educacional poseen un orden jerarquico donde:
Bachelor's = 0
Master´s = 1
PhD = 2

In [23]:
codificacion = {"Bachelor's": 0, "Master's": 1, 'PhD': 2}
df4['Educacion Level'] = df4['Education Level'].map(codificacion)
print(df4)

      Age Education Level                      Job Title  Years of Experience  \
0    32.0      Bachelor's              Software Engineer                  5.0
1    28.0        Master's                   Data Analyst                  3.0
2    45.0             PhD                 Senior Manager                 15.0
3    36.0      Bachelor's                Sales Associate                  7.0
4    52.0        Master's                       Director                 20.0
..    ...             ...                            ...                  ...
370  35.0      Bachelor's       Senior Marketing Analyst                  8.0
371  43.0        Master's         Director of Operations                 19.0
372  29.0      Bachelor's         Junior Project Manager                  2.0
373  34.0      Bachelor's  Senior Operations Coordinator                  7.0
374  44.0             PhD        Senior Business Analyst                 15.0

       Salary  Female  Male  Educacion Level
0     90000.0       0     1              0.0
1     65000.0       1     0              1.0
2    150000.0       0     1              2.0
3     60000.0       1     0              0.0
4    200000.0       0     1              1.0
..        ...     ...   ...              ...
370   85000.0       1     0              0.0
371  170000.0       0     1              1.0
372   40000.0       1     0              0.0
373   90000.0       0     1              0.0
374  150000.0       1     0              2.0

[375 rows x 8 columns]

Y para 'job title' se utilizara one hot encoding

In [ ]:

one_hot = pd.get_dummies(df4['Job Title'])
df4 = pd.concat([df4, one_hot], axis=1)
df6 = df4.drop('Job Title', axis=1)
print(df6)

Validacion de limpieza y transformcion

In [27]:
df4.isna().sum()

Age                    0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
                      ..
UX Designer            0
UX Researcher          0
VP of Finance          0
VP of Operations       0
Web Developer          0
Length: 356, dtype: int64