# EDA 2

Primero se realiza la importacion de las librerias a utilizar

In [1]:

import pandas as pd
import seaborn as sbn
import numpy as np
import matplotlib.pyplot as plt
from seaborn import load_dataset
import io

Llamado de data por google colab

In [2]:

#from google.colab import files
#uploaded = files.upload()
#df = pd.read_csv(io.BytesIO(uploaded['bl2.csv']))

Llamado por local

In [3]:
df = pd.read_csv('Datas/bl2.csv')

Visualisamos los primeros campos de la data

In [4]:
df.head()

,Unnamed: 0,name,full_name,age,height,nationality,place_of_birth,price,max_price,position,shirt_nr,foot,club,contract_expires,joined_club,player_agent,outfitter
0,0,Manuel Neuer,Manuel Peter Neuer,37,1.93,Germany,Gelsenkirchen,7.0,45.0,Goalkeeper,1,right,Bayern Munich,2024-06-30,2011-07-01,PRO Profil GmbH,adidas
1,1,Yann Sommer,NaN,34,1.83,Switzerland,Morges,5.0,13.0,Goalkeeper,27,right,Bayern Munich,2025-06-30,2023-01-19,Relatives,Puma
2,2,Sven Ulreich,NaN,34,1.92,Germany,Schorndorf,0.9,6.0,Goalkeeper,26,right,Bayern Munich,2024-06-30,2021-07-01,BMS Sportconsulting ...,adidas
3,3,Johannes Schenk,NaN,20,1.91,Germany,Schweinfurt,0.3,0.3,Goalkeeper,35,NaN,Bayern Munich,2024-06-30,2022-07-01,11WINS,NaN
4,4,Matthijs de Ligt,NaN,23,1.89,Netherlands,Leiderdorp,75.0,75.0,Defender - Centre-Back,4,right,Bayern Munich,2027-06-30,2022-07-19,Rafaela Pimenta,adidas

y ahora los ultimos

In [5]:
df.tail()

,Unnamed: 0,name,full_name,age,height,nationality,place_of_birth,price,max_price,position,shirt_nr,foot,club,contract_expires,joined_club,player_agent,outfitter
510,510,Takuma Asano,浅野 拓磨,28,1.73,Japan,"Komono, Mie",4.00,4.0,Attack - Right Winger,11,right,VfL Bochum,2024-06-30,2021-07-01,JEB ENTERTAINMENT ...,adidas
511,511,Philipp Hofmann,NaN,30,1.95,Germany,Arnsberg,2.50,2.5,Attack - Centre-Forward,33,left,VfL Bochum,2024-06-30,2022-07-01,ROOF,NaN
512,512,Simon Zoller,Simon Martin Zoller,31,1.79,Germany,Friedrichshafen,1.10,3.0,Attack - Centre-Forward,9,right,VfL Bochum,2024-06-30,2019-01-01,GoalSky,Puma
513,513,Silvère Ganvoula,Silvère Ganvoula M'boussy,26,1.91,Congo,Brazzaville,0.75,2.5,Attack - Centre-Forward,35,right,VfL Bochum,2023-06-30,2019-07-05,BY Sport Consulting,Puma
514,514,Moritz Broschinski,NaN,22,1.90,Germany,Finsterwalde,0.50,0.5,Attack - Centre-Forward,29,right,VfL Bochum,2026-06-30,2023-01-22,Teamgeist ...,NaN

Identificamos las columnas de la data

In [6]:
print(df.columns)

Index(['Unnamed: 0', 'name', 'full_name', 'age', 'height', 'nationality',
       'place_of_birth', 'price', 'max_price', 'position', 'shirt_nr', 'foot',
       'club', 'contract_expires', 'joined_club', 'player_agent', 'outfitter'],
      dtype='object')

In [7]:
df.describe()

       Unnamed: 0         age      height       price   max_price    shirt_nr
count  515.000000  515.000000  515.000000  510.000000  510.000000  515.000000
mean   257.000000   25.683495    1.847612    8.482794   13.513627   19.798058
std    148.811962    4.700238    0.060996   14.653440   18.659222   12.414768
min      0.000000   17.000000    1.680000    0.025000    0.100000    1.000000
25%    128.500000   22.000000    1.800000    1.200000    2.500000    9.000000
50%    257.000000   25.000000    1.850000    3.500000    7.000000   20.000000
75%    385.500000   29.000000    1.890000    9.000000   16.750000   29.000000
max    514.000000   39.000000    2.000000  120.000000  150.000000   49.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        515 non-null    int64
 1   name              515 non-null    object
 2   full_name         229 non-null    object
 3   age               515 non-null    int64
 4   height            515 non-null    float64
 5   nationality       515 non-null    object
 6   place_of_birth    510 non-null    object
 7   price             510 non-null    float64
 8   max_price         510 non-null    float64
 9   position          515 non-null    object
 10  shirt_nr          515 non-null    int64
 11  foot              506 non-null    object
 12  club              515 non-null    object
 13  contract_expires  481 non-null    object
 14  joined_club       515 non-null    object
 15  player_agent      488 non-null    object
 16  outfitter         193 non-null    object
dtypes: float64(3), int64(3), object(11)
memory usage: 68.5+ KB

identificamos los tipo de dato de cada columna,
donde identificamos  float64(3), int64(3), object(11)

Ahora sumaremos la cantidad de nulos que existen en las columnas

In [9]:
df.isna().sum()

Unnamed: 0            0
name                  0
full_name           286
age                   0
height                0
nationality           0
place_of_birth        5
price                 5
max_price             5
position              0
shirt_nr              0
foot                  9
club                  0
contract_expires     34
joined_club           0
player_agent         27
outfitter           322
dtype: int64

Debido a que la cantidad de nulos que existen  y/o el enfoque analitico que buscamos se descarta las siguientes columnas. 
Datos que se desacartan:

 - full_name
 - Place of birth

In [10]:
df.drop(['full_name', 'place_of_birth'], axis=1, inplace=True)

In [11]:
df.isna().sum()

Unnamed: 0            0
name                  0
age                   0
height                0
nationality           0
price                 5
max_price             5
position              0
shirt_nr              0
foot                  9
club                  0
contract_expires     34
joined_club           0
player_agent         27
outfitter           322
dtype: int64

Ahora identificaremos los valores unicos de la columna " outfitter "

In [12]:
df['outfitter'].unique()

array(['adidas', 'Puma', nan, 'Nike', 'New Balance', 'Uhlsport',
       'Under Armour', 'HashtagOne', 'Stanno', 'Mizuno'], dtype=object)

En el mundo del futbol las marcas realizan acuerdos con futbolistas reconocidos para dar valor a la marca por lo cual se sabe que es un grupo acotado y que el resto se considera como futbolista libre o Sin marca por lo cual los valores nulos se imputaran con el valor "free_sponsor"

In [13]:
df['outfitter'].fillna('free_sponsor', inplace=True)
df['outfitter'].unique()

array(['adidas', 'Puma', 'free_sponsor', 'Nike', 'New Balance',
       'Uhlsport', 'Under Armour', 'HashtagOne', 'Stanno', 'Mizuno'],
      dtype=object)

En el caso de los player_agent en los casos nulos se tomara la misma practica que con la marca, ya que en este entorno existen futbolistas que no son representados por empresas de representantes, caso como el de lionel messi que es representado por su padre. 
En este caso se le asignara el valor de "free_agent"

In [14]:
df['player_agent'].fillna('free_agent', inplace=True)
df['player_agent'].unique()

array(['PRO Profil GmbH', 'Relatives', 'BMS Sportconsulting ...',
       '11WINS', 'Rafaela Pimenta', 'Unique Sports Group',
       'Manuel García ...', 'ATG Sports', 'SEG', 'Gestifute', 'Carmenta',
       'BALLWERK Sports GmbH', 'Wasserman', 'free_agent',
       'Neubauer 13 GmbH', 'Team Raiola',
       'Agent is known - Player under 18', 'CAA Base Ltd', 'ROOF',
       'LIAN Sports Group', 'Kögl & Partner GmbH', 'ROGON',
       'SBE Management AG', 'AKA Global GmbH', 'SWSports',
       'Robert Schneider', 'Sports360 GmbH', 'HMH Sportmanagement',
       'Epic Sports', 'CAA Stellar', 'Thomas Meunier', 'Teamgeist ...',
       'Dirk Hebel', 'ISM Int. Soccer ...', 'Lorimanagement', 'Kick&Run',
       'Elite Project Group ...', 'management 360', 'HCM Sports ...',
       'Solbakken / Player ...', 'neblung ...', 'SOCCERNATION GROUP',
       'Marjan Sisic', 'BS Group - BS Law', 'Classico', 'TrueSports GmbH',
       'CN Sports', 'EMG Mundial', 'MR Sport Management ...',
       'Niagara Sports ...', 'EM Sports Consulting', 'YMU Group',
       'Gol International', 'PEP Consulting', 'World in Motion',
       'D20 Sports', 'Fútbol División', 'Global Soccer ...', 'V4S',
       'Prolific Sports ...', 'teamplayer ...', 'KL Sportsbase',
       'Eleven Talent Group', 'Concept Sport Agency', 'AIS SPORT SERVICE',
       'Int. Sport ...', 'PESM', 'Creatio Management', 'AMS CONSULTING',
       'Wolfs', 'Proeleven S.A.', 'Sports eXcellence ...',
       'Signature - ISCM AG', 'Skylar', 'Selected ...', 'Roberto Tukada',
       'NSG ApS', 'FTC', 'H.S.P. ...', 'Pedro Aldave Ortuzar',
       'INVSPORT (Sergio ...', 'B360 Sports', 'Dr. Michael Becker', 'IFM',
       'Fröhlich ...', 'Sport Avenir ...', 'NINE Group', 'SMI SPORTS ...',
       'Dr. Marco Gutfleisch', 'NexSt11', 'Sport Cover', 'TPWE GmbH',
       'Hexagon', 'TFM Agency', 'Kostila', 'Karl M. Herzog ...',
       'MD Management', 'Stephan Engels', 'BMG-SPORT',
       'More than Sport GmbH', 'People In Sport', 'YOU FIRST',
       'sportlobby', 'VIDA 11', 'Alfaria sports GmbH',
       'World Soccer Agency', 'Apertura Sports GmbH', 'Bigpoint',
       'F-F SPORT', 'Sport Business ...', 'no agent',
       'WINStar Management', 'Elite Sports ...', 'Boutique Transfers',
       'Soccer Mondial AG', 'Soccertalk GmbH', 'Only Pro Sport',
       'SMG GmbH', 'FSB – ...', 'NGM SPORTS', 'Pando', 'think forward',
       'B O K S', 'SPORT INVEST', 'C.R', 'Nordic Sky', 'P&P Sport ...',
       'Fabryka Futbolu', 'Mondo Victory', 'Rummenigge Sport ...',
       'Caligiuri Sports', 'Konstantinos Farras', 'Universal Sports ...',
       'MK Sport Consulting', 'Klan Soccer FZCO', 'M-Soccermanagement',
       'Ulisses Santos - ...', 'Haspel ...', 'W&K Fairplay',
       'ROOF Talents', 'W.Egal O.S.F.M.', 'BY AND FOR',
       'ASBW Sport Marketing', 'PURE', 'Léandre Chouya', 'MD Sports',
       'DC International ...', 'Timo Hübers', 'LK Management',
       'OLP Sports', 'FM Worldsport', 'act SPORTS GROUP',
       'ProfiSports Prskalo', 'CS', 'GOOD ADVICE Sports ...', 'ROGON U23',
       'Golden Patch ...', 'Ariel Krasouski', 'Ivan Bosnjak',
       'Briem Soccer ...', 'Excellence Sport', 'Aneke/PMG',
       'BoostMySport', 'Lasana KOITA', 'feel soccer GmbH',
       'Quantum Sport', 'TDS SPORTS', 'DLT Sports Group', 'CMA Group',
       'Siebert & Backs', 'ROYAL', 'Key United', 'Wojciech Zlobicki',
       'NGA Sport', 'KIN Partners', 'K2K Sports ...', 'FG Sports GmbH',
       'Murza Eduard', 'WoS', 'TDL Sports ...', 'UNIDOS',
       'IS SPORTS AGENCY ...', 'Kay Sports ...', 'JEB ENTERTAINMENT ...',
       'GoalSky', 'BY Sport Consulting'], dtype=object)

Para el caso de las columas que cuentan con valores numericos continuos, realizaremos

Primero importamos la libreria de LinearRegression que nos probee sklearn

In [15]:
from sklearn.linear_model import LinearRegression

Despues dividimos los datos entre valores conocidos (no nulos) y valores desconocidos (nulos)

In [16]:
data_known = df.dropna(subset=['price'])
data_unknown = df[df['price'].isnull()]

Ahora definimos las variables predictorias y la variable objetivo

In [17]:
X_known = data_known[['age', 'height']]
y_known = data_known['price']
X_unknown = data_unknown[['age', 'height']]

Ahora realizamos el proceso de regresion

In [18]:
# Crear un modelo de regresión lineal
regression_model = LinearRegression()

# Ajustar el modelo a los datos conocidos
regression_model.fit(X_known, y_known)

# Predecir los valores faltantes
predicted_values = regression_model.predict(X_unknown)

# Reemplazar los valores faltantes en el DataFrame original
df.loc[df['price'].isnull(), 'price'] = predicted_values

     Unnamed: 0                name  age  height  nationality  price  \
0             0        Manuel Neuer   37    1.93      Germany   7.00
1             1         Yann Sommer   34    1.83  Switzerland   5.00
2             2        Sven Ulreich   34    1.92      Germany   0.90
3             3     Johannes Schenk   20    1.91      Germany   0.30
4             4    Matthijs de Ligt   23    1.89  Netherlands  75.00
..          ...                 ...  ...     ...          ...    ...
510         510        Takuma Asano   28    1.73        Japan   4.00
511         511     Philipp Hofmann   30    1.95      Germany   2.50
512         512        Simon Zoller   31    1.79      Germany   1.10
513         513    Silvère Ganvoula   26    1.91        Congo   0.75
514         514  Moritz Broschinski   22    1.90      Germany   0.50

     max_price                 position  shirt_nr   foot           club  \
0         45.0               Goalkeeper         1  right  Bayern Munich
1         13.0               Goalkeeper        27  right  Bayern Munich
2          6.0               Goalkeeper        26  right  Bayern Munich
3          0.3               Goalkeeper        35    NaN  Bayern Munich
4         75.0   Defender - Centre-Back         4  right  Bayern Munich
..         ...                      ...       ...    ...            ...
510        4.0    Attack - Right Winger        11  right     VfL Bochum
511        2.5  Attack - Centre-Forward        33   left     VfL Bochum
512        3.0  Attack - Centre-Forward         9  right     VfL Bochum
513        2.5  Attack - Centre-Forward        35  right     VfL Bochum
514        0.5  Attack - Centre-Forward        29  right     VfL Bochum

    contract_expires joined_club             player_agent     outfitter
0         2024-06-30  2011-07-01          PRO Profil GmbH        adidas
1         2025-06-30  2023-01-19                Relatives          Puma
2         2024-06-30  2021-07-01  BMS Sportconsulting ...        adidas
3         2024-06-30  2022-07-01                   11WINS  free_sponsor
4         2027-06-30  2022-07-19          Rafaela Pimenta        adidas
..               ...         ...                      ...           ...
510       2024-06-30  2021-07-01    JEB ENTERTAINMENT ...        adidas
511       2024-06-30  2022-07-01                     ROOF  free_sponsor
512       2024-06-30  2019-01-01                  GoalSky          Puma
513       2023-06-30  2019-07-05      BY Sport Consulting          Puma
514       2026-06-30  2023-01-22            Teamgeist ...  free_sponsor

[515 rows x 15 columns]

Validamos si aun existen nulos

In [19]:
df['price'].isna().sum()

0

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Columns: 177 entries, Unnamed: 0 to midfield - Right Midfield
dtypes: bool(160), float64(3), int64(3), object(11)
memory usage: 149.0+ KB

In [48]:
#Nacionalidad
# Utilizamos el método get_dummies() de Pandas para realizar One-Hot Encoding de la columna "color"
one_hot = pd.get_dummies(df['nationality'])

# Concatenamos el DataFrame original con el DataFrame codificado
df = pd.concat([df, one_hot], axis=1)

# Imprimimos el DataFrame actualizado
print(df)

     Unnamed: 0                name                  full_name  age  height  \
0             0        Manuel Neuer         Manuel Peter Neuer   37    1.93
1             1         Yann Sommer                        NaN   34    1.83
2             2        Sven Ulreich                        NaN   34    1.92
3             3     Johannes Schenk                        NaN   20    1.91
4             4    Matthijs de Ligt                        NaN   23    1.89
..          ...                 ...                        ...  ...     ...
510         510        Takuma Asano                      浅野 拓磨   28    1.73
511         511     Philipp Hofmann                        NaN   30    1.95
512         512        Simon Zoller        Simon Martin Zoller   31    1.79
513         513    Silvère Ganvoula  Silvère Ganvoula M'boussy   26    1.91
514         514  Moritz Broschinski                        NaN   22    1.90

     nationality   place_of_birth  price  max_price                 position  \
0        Germany    Gelsenkirchen   7.00       45.0               Goalkeeper
1    Switzerland           Morges   5.00       13.0               Goalkeeper
2        Germany       Schorndorf   0.90        6.0               Goalkeeper
3        Germany      Schweinfurt   0.30        0.3               Goalkeeper
4    Netherlands       Leiderdorp  75.00       75.0   Defender - Centre-Back
..           ...              ...    ...        ...                      ...
510        Japan      Komono, Mie   4.00        4.0    Attack - Right Winger
511      Germany         Arnsberg   2.50        2.5  Attack - Centre-Forward
512      Germany  Friedrichshafen   1.10        3.0  Attack - Centre-Forward
513        Congo      Brazzaville   0.75        2.5  Attack - Centre-Forward
514      Germany     Finsterwalde   0.50        0.5  Attack - Centre-Forward

     ...  Turkey Turkey  Germany Ukraine United States  \
0    ...   False           False   False         False
1    ...   False           False   False         False
2    ...   False           False   False         False
3    ...   False           False   False         False
4    ...   False           False   False         False
..   ...     ...             ...     ...           ...
510  ...   False           False   False         False
511  ...   False           False   False         False
512  ...   False           False   False         False
513  ...   False           False   False         False
514  ...   False           False   False         False

    United States  Dominican Republic United States  France  \
0                               False                 False
1                               False                 False
2                               False                 False
3                               False                 False
4                               False                 False
..                                ...                   ...
510                             False                 False
511                             False                 False
512                             False                 False
513                             False                 False
514                             False                 False

    United States  Germany  United States  Portugal  Uruguay  Italy  \
0                    False                    False           False
1                    False                    False           False
2                    False                    False           False
3                    False                    False           False
4                    False                    False           False
..                     ...                      ...             ...
510                  False                    False           False
511                  False                    False           False
512                  False                    False           False
513                  False                    False           False
514                  False                    False           False

     Uruguay  Spain
0             False
1             False
2             False
3             False
4             False
..              ...
510           False
511           False
512           False
513           False
514           False

[515 rows x 324 columns]

In [49]:
#Position 
# Utilizamos el método get_dummies() de Pandas para realizar One-Hot Encoding de la columna "color"
one_hot = pd.get_dummies(df['position'])

# Concatenamos el DataFrame original con el DataFrame codificado
df = pd.concat([df, one_hot], axis=1)

# Imprimimos el DataFrame actualizado
print(df)

     Unnamed: 0                name                  full_name  age  height  \
0             0        Manuel Neuer         Manuel Peter Neuer   37    1.93
1             1         Yann Sommer                        NaN   34    1.83
2             2        Sven Ulreich                        NaN   34    1.92
3             3     Johannes Schenk                        NaN   20    1.91
4             4    Matthijs de Ligt                        NaN   23    1.89
..          ...                 ...                        ...  ...     ...
510         510        Takuma Asano                      浅野 拓磨   28    1.73
511         511     Philipp Hofmann                        NaN   30    1.95
512         512        Simon Zoller        Simon Martin Zoller   31    1.79
513         513    Silvère Ganvoula  Silvère Ganvoula M'boussy   26    1.91
514         514  Moritz Broschinski                        NaN   22    1.90

     nationality   place_of_birth  price  max_price                 position  \
0        Germany    Gelsenkirchen   7.00       45.0               Goalkeeper
1    Switzerland           Morges   5.00       13.0               Goalkeeper
2        Germany       Schorndorf   0.90        6.0               Goalkeeper
3        Germany      Schweinfurt   0.30        0.3               Goalkeeper
4    Netherlands       Leiderdorp  75.00       75.0   Defender - Centre-Back
..           ...              ...    ...        ...                      ...
510        Japan      Komono, Mie   4.00        4.0    Attack - Right Winger
511      Germany         Arnsberg   2.50        2.5  Attack - Centre-Forward
512      Germany  Friedrichshafen   1.10        3.0  Attack - Centre-Forward
513        Congo      Brazzaville   0.75        2.5  Attack - Centre-Forward
514      Germany     Finsterwalde   0.50        0.5  Attack - Centre-Forward

     ...  Attack - Second Striker Defender - Centre-Back Defender - Left-Back  \
0    ...                    False                  False                False
1    ...                    False                  False                False
2    ...                    False                  False                False
3    ...                    False                  False                False
4    ...                    False                   True                False
..   ...                      ...                    ...                  ...
510  ...                    False                  False                False
511  ...                    False                  False                False
512  ...                    False                  False                False
513  ...                    False                  False                False
514  ...                    False                  False                False

    Defender - Right-Back Goalkeeper midfield - Attacking Midfield  \
0                   False       True                         False
1                   False       True                         False
2                   False       True                         False
3                   False       True                         False
4                   False      False                         False
..                    ...        ...                           ...
510                 False      False                         False
511                 False      False                         False
512                 False      False                         False
513                 False      False                         False
514                 False      False                         False

    midfield - Central Midfield  midfield - Defensive Midfield  \
0                         False                          False
1                         False                          False
2                         False                          False
3                         False                          False
4                         False                          False
..                          ...                            ...
510                       False                          False
511                       False                          False
512                       False                          False
513                       False                          False
514                       False                          False

     midfield - Left Midfield  midfield - Right Midfield
0                       False                      False
1                       False                      False
2                       False                      False
3                       False                      False
4                       False                      False
..                        ...                        ...
510                     False                      False
511                     False                      False
512                     False                      False
513                     False                      False
514                     False                      False

[515 rows x 337 columns]