In [ ]:
#Practica limpieza de datos datos 2

In [1]:
#Importamos las librerías necesarias
import pandas as pd
import seaborn as sbn
import numpy as np
import matplotlib.pyplot as plt
from seaborn import load_dataset
import io

In [22]:
from google.colab import files

uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['bl2.csv']))

Saving bl2.csv to bl2 (1).csv

In [23]:
print(df)

     Unnamed: 0                name                  full_name  age  height  \
0             0        Manuel Neuer         Manuel Peter Neuer   37    1.93
1             1         Yann Sommer                        NaN   34    1.83
2             2        Sven Ulreich                        NaN   34    1.92
3             3     Johannes Schenk                        NaN   20    1.91
4             4    Matthijs de Ligt                        NaN   23    1.89
..          ...                 ...                        ...  ...     ...
510         510        Takuma Asano                      浅野 拓磨   28    1.73
511         511     Philipp Hofmann                        NaN   30    1.95
512         512        Simon Zoller        Simon Martin Zoller   31    1.79
513         513    Silvère Ganvoula  Silvère Ganvoula M'boussy   26    1.91
514         514  Moritz Broschinski                        NaN   22    1.90

     nationality   place_of_birth  price  max_price                 position  \
0        Germany    Gelsenkirchen   7.00       45.0               Goalkeeper
1    Switzerland           Morges   5.00       13.0               Goalkeeper
2        Germany       Schorndorf   0.90        6.0               Goalkeeper
3        Germany      Schweinfurt   0.30        0.3               Goalkeeper
4    Netherlands       Leiderdorp  75.00       75.0   Defender - Centre-Back
..           ...              ...    ...        ...                      ...
510        Japan      Komono, Mie   4.00        4.0    Attack - Right Winger
511      Germany         Arnsberg   2.50        2.5  Attack - Centre-Forward
512      Germany  Friedrichshafen   1.10        3.0  Attack - Centre-Forward
513        Congo      Brazzaville   0.75        2.5  Attack - Centre-Forward
514      Germany     Finsterwalde   0.50        0.5  Attack - Centre-Forward

     shirt_nr   foot           club contract_expires joined_club  \
0           1  right  Bayern Munich       2024-06-30  2011-07-01
1          27  right  Bayern Munich       2025-06-30  2023-01-19
2          26  right  Bayern Munich       2024-06-30  2021-07-01
3          35    NaN  Bayern Munich       2024-06-30  2022-07-01
4           4  right  Bayern Munich       2027-06-30  2022-07-19
..        ...    ...            ...              ...         ...
510        11  right     VfL Bochum       2024-06-30  2021-07-01
511        33   left     VfL Bochum       2024-06-30  2022-07-01
512         9  right     VfL Bochum       2024-06-30  2019-01-01
513        35  right     VfL Bochum       2023-06-30  2019-07-05
514        29  right     VfL Bochum       2026-06-30  2023-01-22

                player_agent outfitter
0            PRO Profil GmbH    adidas
1                  Relatives      Puma
2    BMS Sportconsulting ...    adidas
3                     11WINS       NaN
4            Rafaela Pimenta    adidas
..                       ...       ...
510    JEB ENTERTAINMENT ...    adidas
511                     ROOF       NaN
512                  GoalSky      Puma
513      BY Sport Consulting      Puma
514            Teamgeist ...       NaN

[515 rows x 17 columns]

In [24]:
df.describe()

       Unnamed: 0         age      height       price   max_price    shirt_nr
count  515.000000  515.000000  515.000000  510.000000  510.000000  515.000000
mean   257.000000   25.683495    1.847612    8.482794   13.513627   19.798058
std    148.811962    4.700238    0.060996   14.653440   18.659222   12.414768
min      0.000000   17.000000    1.680000    0.025000    0.100000    1.000000
25%    128.500000   22.000000    1.800000    1.200000    2.500000    9.000000
50%    257.000000   25.000000    1.850000    3.500000    7.000000   20.000000
75%    385.500000   29.000000    1.890000    9.000000   16.750000   29.000000
max    514.000000   39.000000    2.000000  120.000000  150.000000   49.000000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        515 non-null    int64
 1   name              515 non-null    object
 2   full_name         229 non-null    object
 3   age               515 non-null    int64
 4   height            515 non-null    float64
 5   nationality       515 non-null    object
 6   place_of_birth    510 non-null    object
 7   price             510 non-null    float64
 8   max_price         510 non-null    float64
 9   position          515 non-null    object
 10  shirt_nr          515 non-null    int64
 11  foot              506 non-null    object
 12  club              515 non-null    object
 13  contract_expires  481 non-null    object
 14  joined_club       515 non-null    object
 15  player_agent      488 non-null    object
 16  outfitter         193 non-null    object
dtypes: float64(3), int64(3), object(11)
memory usage: 68.5+ KB

Datos que se desacartan:
 - name
 - full_name
 - player_agent
 - Place of birth
 - contract_expires
 - joined_club

In [26]:
#Price
# Imputamos los valores faltantes con la media de la columna "edad"
media_price = df['price'].mean()
df['price'].fillna(media_price, inplace=True)
#el 'inplace' indica que va a realizar o no el cambio.

In [28]:
#Max_price
# Imputamos los valores faltantes con la media de la columna "edad"
media_max_price = df['max_price'].mean()
df['max_price'].fillna(media_max_price, inplace=True)
#el 'inplace' indica que va a realizar o no el cambio.

In [30]:
#Foot
# Imputamos los valores faltantes con la moda de la columna "género"
moda_foot = df['foot'].mode()[0]
df['foot'].fillna(moda_foot, inplace=True)

In [34]:
#outfitter
df['outfitter'].fillna('Free', inplace=True)

In [35]:
print(df['outfitter'])

0      adidas
1        Puma
2      adidas
3        Free
4      adidas
        ...
510    adidas
511      Free
512      Puma
513      Puma
514      Free
Name: outfitter, Length: 515, dtype: object

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        515 non-null    int64
 1   name              515 non-null    object
 2   full_name         229 non-null    object
 3   age               515 non-null    int64
 4   height            515 non-null    float64
 5   nationality       515 non-null    object
 6   place_of_birth    510 non-null    object
 7   price             515 non-null    float64
 8   max_price         515 non-null    float64
 9   position          515 non-null    object
 10  shirt_nr          515 non-null    int64
 11  foot              515 non-null    object
 12  club              515 non-null    object
 13  contract_expires  481 non-null    object
 14  joined_club       515 non-null    object
 15  player_agent      488 non-null    object
 16  outfitter         515 non-null    object
dtypes: float64(3), int64(3), object(11)
memory usage: 68.5+ KB

In [7]:
#Nacionalidad
# Utilizamos el método get_dummies() de Pandas para realizar One-Hot Encoding de la columna "color"
one_hot = pd.get_dummies(df['nationality'])

# Concatenamos el DataFrame original con el DataFrame codificado
df = pd.concat([df, one_hot], axis=1)

# Imprimimos el DataFrame actualizado
print(df)

     Unnamed: 0                name                  full_name  age  height  \
0             0        Manuel Neuer         Manuel Peter Neuer   37    1.93
1             1         Yann Sommer                        NaN   34    1.83
2             2        Sven Ulreich                        NaN   34    1.92
3             3     Johannes Schenk                        NaN   20    1.91
4             4    Matthijs de Ligt                        NaN   23    1.89
..          ...                 ...                        ...  ...     ...
510         510        Takuma Asano                      浅野 拓磨   28    1.73
511         511     Philipp Hofmann                        NaN   30    1.95
512         512        Simon Zoller        Simon Martin Zoller   31    1.79
513         513    Silvère Ganvoula  Silvère Ganvoula M'boussy   26    1.91
514         514  Moritz Broschinski                        NaN   22    1.90

     nationality   place_of_birth  price  max_price                 position  \
0        Germany    Gelsenkirchen   7.00       45.0               Goalkeeper
1    Switzerland           Morges   5.00       13.0               Goalkeeper
2        Germany       Schorndorf   0.90        6.0               Goalkeeper
3        Germany      Schweinfurt   0.30        0.3               Goalkeeper
4    Netherlands       Leiderdorp  75.00       75.0   Defender - Centre-Back
..           ...              ...    ...        ...                      ...
510        Japan      Komono, Mie   4.00        4.0    Attack - Right Winger
511      Germany         Arnsberg   2.50        2.5  Attack - Centre-Forward
512      Germany  Friedrichshafen   1.10        3.0  Attack - Centre-Forward
513        Congo      Brazzaville   0.75        2.5  Attack - Centre-Forward
514      Germany     Finsterwalde   0.50        0.5  Attack - Centre-Forward

     ...  Turkey Turkey  Germany Ukraine United States  \
0    ...       0               0       0             0
1    ...       0               0       0             0
2    ...       0               0       0             0
3    ...       0               0       0             0
4    ...       0               0       0             0
..   ...     ...             ...     ...           ...
510  ...       0               0       0             0
511  ...       0               0       0             0
512  ...       0               0       0             0
513  ...       0               0       0             0
514  ...       0               0       0             0

    United States  Dominican Republic United States  France  \
0                                   0                     0
1                                   0                     0
2                                   0                     0
3                                   0                     0
4                                   0                     0
..                                ...                   ...
510                                 0                     0
511                                 0                     0
512                                 0                     0
513                                 0                     0
514                                 0                     0

    United States  Germany  United States  Portugal  Uruguay  Italy  \
0                        0                        0               0
1                        0                        0               0
2                        0                        0               0
3                        0                        0               0
4                        0                        0               0
..                     ...                      ...             ...
510                      0                        0               0
511                      0                        0               0
512                      0                        0               0
513                      0                        0               0
514                      0                        0               0

     Uruguay  Spain
0                 0
1                 0
2                 0
3                 0
4                 0
..              ...
510               0
511               0
512               0
513               0
514               0

[515 rows x 164 columns]

In [8]:
#Position 
# Utilizamos el método get_dummies() de Pandas para realizar One-Hot Encoding de la columna "color"
one_hot = pd.get_dummies(df['position'])

# Concatenamos el DataFrame original con el DataFrame codificado
df = pd.concat([df, one_hot], axis=1)

# Imprimimos el DataFrame actualizado
print(df)

     Unnamed: 0                name                  full_name  age  height  \
0             0        Manuel Neuer         Manuel Peter Neuer   37    1.93
1             1         Yann Sommer                        NaN   34    1.83
2             2        Sven Ulreich                        NaN   34    1.92
3             3     Johannes Schenk                        NaN   20    1.91
4             4    Matthijs de Ligt                        NaN   23    1.89
..          ...                 ...                        ...  ...     ...
510         510        Takuma Asano                      浅野 拓磨   28    1.73
511         511     Philipp Hofmann                        NaN   30    1.95
512         512        Simon Zoller        Simon Martin Zoller   31    1.79
513         513    Silvère Ganvoula  Silvère Ganvoula M'boussy   26    1.91
514         514  Moritz Broschinski                        NaN   22    1.90

     nationality   place_of_birth  price  max_price                 position  \
0        Germany    Gelsenkirchen   7.00       45.0               Goalkeeper
1    Switzerland           Morges   5.00       13.0               Goalkeeper
2        Germany       Schorndorf   0.90        6.0               Goalkeeper
3        Germany      Schweinfurt   0.30        0.3               Goalkeeper
4    Netherlands       Leiderdorp  75.00       75.0   Defender - Centre-Back
..           ...              ...    ...        ...                      ...
510        Japan      Komono, Mie   4.00        4.0    Attack - Right Winger
511      Germany         Arnsberg   2.50        2.5  Attack - Centre-Forward
512      Germany  Friedrichshafen   1.10        3.0  Attack - Centre-Forward
513        Congo      Brazzaville   0.75        2.5  Attack - Centre-Forward
514      Germany     Finsterwalde   0.50        0.5  Attack - Centre-Forward

     ...  Attack - Second Striker Defender - Centre-Back Defender - Left-Back  \
0    ...                        0                      0                    0
1    ...                        0                      0                    0
2    ...                        0                      0                    0
3    ...                        0                      0                    0
4    ...                        0                      1                    0
..   ...                      ...                    ...                  ...
510  ...                        0                      0                    0
511  ...                        0                      0                    0
512  ...                        0                      0                    0
513  ...                        0                      0                    0
514  ...                        0                      0                    0

    Defender - Right-Back Goalkeeper midfield - Attacking Midfield  \
0                       0          1                             0
1                       0          1                             0
2                       0          1                             0
3                       0          1                             0
4                       0          0                             0
..                    ...        ...                           ...
510                     0          0                             0
511                     0          0                             0
512                     0          0                             0
513                     0          0                             0
514                     0          0                             0

    midfield - Central Midfield  midfield - Defensive Midfield  \
0                             0                              0
1                             0                              0
2                             0                              0
3                             0                              0
4                             0                              0
..                          ...                            ...
510                           0                              0
511                           0                              0
512                           0                              0
513                           0                              0
514                           0                              0

     midfield - Left Midfield  midfield - Right Midfield
0                           0                          0
1                           0                          0
2                           0                          0
3                           0                          0
4                           0                          0
..                        ...                        ...
510                         0                          0
511                         0                          0
512                         0                          0
513                         0                          0
514                         0                          0

[515 rows x 177 columns]